<mat-grid-list cols="1" rowHeight="100%" class="fondo">
  <mat-grid-tile>
    <mat-card [class.mat-elevation-z8]="true">
      <mat-card-content>
        <h1>Inicio de Sesión</h1>
        <form [formGroup]="loginForm">
            
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Usuario</mat-label>
            <mat-error *ngIf="baseForm.isValidField(loginForm.get('username'))">
              {{ baseForm.getErrorMessage(loginForm.get("username")) }}
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña</mat-label>
            <mat-error *ngIf="baseForm.isValidField(loginForm.get('password'))">
              {{ baseForm.getErrorMessage(loginForm.get("password")) }}
            </mat-error>
          </mat-form-field>

        </form>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
